.form {
  display: flex;
  /* border-top: 2px solid #D3D3D3; */
  background-color: #E0DFE0;
}

.input {
  border: none;
  border-radius: 15px;
  padding: 2%;
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-left: 5px;

}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #03121F !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #5CDB94;
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 40px;
  width: fit-content;
  font-size: small;
  font-weight: bolder;
  margin: 5px;
}